* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: "RobotoRegular";
  src: url(./fonts/roboto/Roboto-Regular.ttf);
}
.base {
  width: 100%;
  height: auto;
  position: relative;
  min-height: 200px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  overflow: hidden;
  padding-left: 200px;
}
.imageHolder {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.dataHolderOfCeo {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  padding: 15px;
}
.ceoDataHolder {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.nameOfCeo {
  width: 100%;
  height: auto;
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.nameText {
  width: auto;
  height: auto;
  font-size: 25px;
  font-family: RobotoRegular;
  display: flex;
}
.tikIcon {
  width: 20px;
  height: 20px;
  background: url("https://beta.springrole.com/images/check-green-icon.png")
    no-repeat;
  background-size: auto 20px;
  background-position: center;
  margin-left: 10px;
}
.designationAndCountry {
  width: 100%;
  height: auto;
  color: #212121;
  font-family: RobotoRegular;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}
.designationText {
  width: 100%;
  height: auto;
  font-size: 14px;
  display: flex;
}
.countryText {
  width: 100%;
  height: auto;
  font-size: 12px;
  display: flex;
  margin-top: 3px;
}
.logoAndButtonHolder {
  width: 20%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.messageButtonHolder {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
}
.messageButton {
  width: auto;
  height: 35px;
  border: 1px solid #004fc1;
  color: #004fc1;
  font-size: 14px;
  line-height: 33px;
  padding: 0px 10px 0px 36px;
  background: url(https://beta.springrole.com/images/Message_mobile.png)
    no-repeat;
  background-position: 10px center;
  background-size: auto 15px;
  display: flex;
  font-family: RobotoRegular;
  border-radius: 2px;
  cursor: pointer;
}
.blockChainImageHolder {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 35px;
}
.blockChainImage {
  width: 80px;
  height: 70px;
  background: url(https://beta.springrole.com/images/write-to-blockchain-img.png)
    no-repeat;
  background-size: auto 50px;
  background-position: 5px center;
  display: flex;
}
.blockChainText {
  width: auto;
  height: auto;
  font-size: 10px;
  font-weight: 500;
  display: flex;
  justify-content: flex-end;
  color: #004fc1;
}
.skillSelectHolder {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 40px;
}
.skillSelectToggleCont {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
}
.toggleButtonLike {
  width: auto;
  height: 30px;
  padding: 0px 40px 0px 15px;
  background: #f1f1f1;
  color: #4a4a4a;
  font-size: 12px;
  font-family: RobotoRegular;
  position: relative;
  border-radius: 21px;
  display: flex;
  margin-right: 10px;
  line-height: 31px;
}
.toggleCircle {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50%;
  background: #d86d00;
}
