* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: "RobotoRegular";
  src: url(./fonts/roboto/Roboto-Regular.ttf);
}
div {
  font-family: RobotoRegular;
}
.base {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #d2d2d2;
}
.nameDataAndVeryFi {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  min-height: 157px;
}
.nameAndData {
  width: 80%;
  height: auto;
  display: flex;
  padding: 20px 0px 0px 28px;
  flex-direction: row;
}
.crospondingLogo {
  width: 80px;
  height: 80px;
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.employeeData {
  width: calc(100% - 80px);
  height: auto;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}
.designation {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
  color: #4a4a4a;
  margin-bottom: 5px;
}
.nameAndLocation {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
  color: #959595;
  margin-bottom: 5px;
}
.duration {
  composes: nameAndLocation;
}
.spanStartDate {
  padding-right: 3px;
}
.spanEndDate {
  padding: 0px 3px;
}
.workedOnHolder {
  width: 100%;
  height: auto;
  display: flex;
  padding: 20px 0px 0px 123px;
  flex-direction: column;
  border-top: 2px solid #d2d2d2;
}
.specilistHolder {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.staticLabel {
  width: auto;
  height: 25px;
  color: #959595;
  font-size: 10px;
  font-weight: bold;
  line-height: 25px;
  display: flex;
  margin-right: 20px;
}
.dataForCourses {
  color: #4a4a4a;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  background-color: #f5f7f8;
  padding: 0px 15px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  margin-right: 10px;
}
.descriptionText {
  width: 100%;
  height: auto;
  display: flex;
  color: #959595;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  margin-bottom: 20px;
}
.veryFiHolder {
  width: 20%;
  height: auto;
  display: flex;
  border-left: 2px solid #d2d2d2;
  padding: 0px 20px;
  flex-direction: column;
}
.verificationStatus {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.verifiedImage {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.veriFyImage {
  width: 15px;
  height: 15px;
  display: flex;
}
.veriFyImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.verifyTetx {
  width: auto;
  height: auto;
  text-align: center;
  color: #959595;
  display: flex;
  font-size: 11px;
  margin-top: 5px;
  line-height: 12px;
}
